In [1]:
#%matplotlib inline
import numpy as np
import pandas as pd
import scipy.sparse
from sklearn import preprocessing
import xgboost as xgb
import pickle
#import graphviz
import matplotlib.pyplot as plt
%matplotlib inline

Read in just the testing and training data.

In [16]:
error = pd.read_pickle('scripts/cv_results/actions_e20/params1_err.p')
error2 = pd.read_pickle('scripts/cv_results/actions_e20/search2/res1.p')
error3 = pd.read_pickle('scripts/cv_results/actions_e20/search2/res2.p')
param = error3 = pd.read_pickle('scripts/cv_results/actions_e20/params_search2.p')
#error['mean'] = error.apply(np.mean, axis = 1)
# error = error.astype(np.float64)
# error['mean'] = error.mean(1)
# error['std'] = error.std(1)

In [31]:
d = {'a': [1,2,3]}
s = pd.Series(d['a'], name= 'month' + str(0))

In [35]:
s = pd.DataFrame()

In [38]:
str(len(s))

'0'

In [12]:
a = pd.concat([error2[10:]['mean'], error[10:]['mean']], axis = 1)
b = pd.concat([a, error3[10:]['mean']], axis = 1)

In [13]:
b

        mean      mean      mean
10  0.142613  0.142788  0.142330
11  0.142481  0.142621  0.142176
12  0.142326  0.142450  0.142154
13  0.142035  0.142180  0.142068
14  0.141909  0.142029  0.141897
15  0.141778  0.141921  0.141801
16  0.141733  0.141867  0.141792
17  0.141730  0.141863  0.141780
18  0.141594  0.141714  0.141910
19  0.141370  0.141533  0.142014
20  0.141557  0.141510  0.141869
21  0.141466  0.141414  0.141980
22  0.141293  0.141330  0.142082
23  0.141223  0.141341  0.142015
24  0.141193  0.141175  0.141885
25  0.141081  0.141176  0.141962
26  0.141090  0.141014  0.142025
27  0.140985  0.141182  0.141863
28  0.140974  0.141117  0.141852
29  0.140884  0.140972  0.141691
30  0.140791  0.140993  0.141664
31  0.140776  0.140944  0.141599
32  0.140674  0.140816  0.141470
33  0.140748  0.140764  0.141467
34  0.140759  0.140801  0.141413
35  0.140749  0.140876  0.141343
36  0.140825  0.140834  0.141230
37  0.140725  0.140743  0.141243
38  0.140678  0.140882  0.141096
39  0.140648  0.140845  0.141040
40  0.140674  0.140929  0.140978
41  0.140703  0.140974  0.141053
42  0.140708  0.141030  0.141077
43  0.140685  0.141062  0.141143
44  0.140628  0.141036  0.141227
45  0.140637  0.140997  0.141138
46  0.140663  0.141096  0.141072
47  0.140669  0.140996  0.141145
48  0.140646  0.140903  0.141206
49  0.140568  0.141021  0.141266

In [15]:
error3.to_pickle('scripts/cv_results/actions_e20/params1_err.p')

In [3]:
#train_100 = pd.read_csv('Airbnb_data/train_users_2.csv', nrows = 100, index_col='id')
train_data = pd.read_csv('data/train_users_2.csv', index_col = 'id')
test_data = pd.read_csv('data/test_users.csv', index_col = 'id')
#sessions = pd.read_csv('../data/sessions.csv')
#age = pd.read_csv('Airbnb_data/age_gender_bkts.csv')
#countries = pd.read_csv('Airbnb_data/countries.csv')
all_df = pd.read_pickle('data/all_df.p')

In [163]:
for i in np.unique(test_data.first_browser):
    if i not in np.unique(train_data.first_browser):
        print i

IBrowse
Nintendo Browser
UC Browser

In [142]:
#pd.isnull(sessions.groupby('user_id')['secs_elapsed'].sum()) == False
sessions.loc[sessions.user_id == '00allnceb8',:]
#sessions.loc[sessions.user_id == 'd1mm9tcy42',:]

,user_id,action,action_type,action_detail,device_type,secs_elapsed
1150481,00allnceb8,create,submit,signup,-unknown-,NaN

In [8]:
#find most popular actions
sessions.groupby('user_id').count()

NameError: name 'sessions' is not defined

In [5]:
error = pd.read_pickle('scripts/cv_results.p')
params = pd.read_pickle('scripts/cv_params.p')

In [6]:
res = pd.concat([error, params], axis = 1)

In [7]:
res.sort_values(by = 'test-error-mean', axis = 0);

In [3]:
all_df = feakaggle_model(all_df)

#one hot encoding of features
print 'number of columns before one hot encoding', all_df.shape[1]
ohe_feats = ['gender', 'signup_method', 'signup_flow', 'language', 'affiliate_channel', 'affiliate_provider', 'first_affiliate_tracked', 'signup_app', 'first_device_type', 'first_browser']
all_df = pd.get_dummies(all_df, columns = ohe_feats)
print 'number of columns after one hot encoding', all_df.shape[1]

number of columns before one hot encoding 17
number of columns after one hot encoding 161

In [6]:
with open('xgbmodels/sessions_e20_25n.p', 'rb') as f:
    bst = pickle.load(f)
features = sorted(bst.get_fscore().items(), key = lambda x: x[1], reverse = True)
[(feat, all_df.columns[int(feat[1:])], score) for feat, score in features]

NameError: name 'all_df' is not defined

In [ ]:
xgb.to_graphviz(bst, num_trees=11)

In [ ]:
submission = pd.DataFrame(np.column_stack([idx, cntr]), columns = ['id', 'country'])
submission.to_csv('submissions/datebin_model.csv', index=False)