In [7]:
#%matplotlib inline
import numpy as np
import pandas as pd
import scipy.sparse
from sklearn import preprocessing
import xgboost as xgb
import pickle
#import graphviz
import matplotlib.pyplot as plt
%matplotlib inline

Read in just the testing and training data.

In [8]:
error = pd.read_pickle('scripts/cv_results/actions_e20/params_search2.p')
#error['mean'] = error.apply(np.mean, axis = 1)
# error = error.astype(np.float64)
# error['mean'] = error.mean(1)
# error['std'] = error.std(1)

In [9]:
error

   subsample  eta  colsample_bytree  max_depth
0        0.5  0.2               0.6          6
1        0.7  0.2               0.6          6
2        0.5  0.2               1.0          6

In [27]:
errorerror.astype('float')

           0         0         0         0         0         0
0   0.167572  0.167466  0.167727  0.167496  0.167596  0.168133
1   0.166168  0.165801  0.166565  0.166062  0.166788  0.167285
2   0.165645  0.165012  0.165481  0.165554  0.165830  0.166340
3   0.165161  0.164656  0.165096  0.164939  0.165238  0.165888
4   0.164776  0.164280  0.164733  0.164440  0.164568  0.165553
5   0.164559  0.164026  0.164268  0.164253  0.164273  0.164967
6   0.163968  0.163701  0.163974  0.163812  0.163975  0.164313
7   0.163879  0.163163  0.163642  0.163537  0.163699  0.163967
8   0.163576  0.163040  0.163336  0.163214  0.163468  0.163660
9   0.163320  0.162803  0.163280  0.162983  0.163203  0.163508
10  0.163065  0.162580  0.163041  0.162757  0.162845  0.163433
11  0.162804  0.162307  0.162853  0.162649  0.162664  0.163249
12  0.162565  0.162096  0.162607  0.162448  0.162452  0.163049
13  0.162218  0.161907  0.162409  0.162264  0.162327  0.163033
14  0.162004  0.161694  0.162214  0.161946  0.162143  0.162654
15  0.161840  0.161604  0.162120  0.161828  0.162052  0.162493
16  0.161658  0.161463  0.161853  0.161544  0.161783  0.162280
17  0.161548  0.161264  0.161760  0.161330  0.161599  0.162142
18  0.161297  0.161067  0.161497  0.161278  0.161393  0.162015
19  0.161112  0.160949  0.161335  0.161099  0.161255  0.161959
20  0.160949  0.160664  0.161196  0.160833  0.161134  0.161688
21  0.160719  0.160463  0.161020  0.160672  0.160946  0.161429
22  0.160539  0.160303  0.160821  0.160561  0.160698  0.161309
23  0.160310  0.160178  0.160654  0.160364  0.160553  0.161111
24  0.160232  0.159983  0.160572  0.160194  0.160289  0.160994
25  0.160028  0.159838  0.160424  0.160082  0.160201  0.160761
26  0.159869  0.159576  0.160343  0.159995  0.160028  0.160519
27  0.159717  0.159541  0.160136  0.159774  0.159902  0.160439
28  0.159521  0.159425  0.159965  0.159642  0.159744  0.160387
29  0.159371  0.159270  0.159741  0.159519  0.159631  0.160239
30  0.159237  0.159112  0.159487  0.159421  0.159452  0.160063
31  0.159045  0.158933  0.159293  0.159252  0.159239  0.159841
32  0.158989  0.158739  0.159174  0.159102  0.159094  0.159732
33  0.158836  0.158586  0.158956  0.159008  0.158992  0.159582
34  0.158702  0.158429  0.158738  0.158897  0.158744  0.159421
35  0.158611  0.158257  0.158581  0.158733  0.158476  0.159251
36  0.158416  0.158122  0.158434  0.158638  0.158356  0.159039
37  0.158275  0.157968  0.158195  0.158388  0.158273  0.158935
38  0.158132  0.157868  0.158061  0.158253  0.158147  0.158769
39  0.157985  0.157740  0.157959  0.158010  0.157972  0.158580

In [15]:
error3.to_pickle('scripts/cv_results/actions_e20/params1_err.p')

In [3]:
#train_100 = pd.read_csv('Airbnb_data/train_users_2.csv', nrows = 100, index_col='id')
train_data = pd.read_csv('data/train_users_2.csv', index_col = 'id')
test_data = pd.read_csv('data/test_users.csv', index_col = 'id')
#sessions = pd.read_csv('../data/sessions.csv')
#age = pd.read_csv('Airbnb_data/age_gender_bkts.csv')
#countries = pd.read_csv('Airbnb_data/countries.csv')
all_df = pd.read_pickle('data/all_df.p')

In [163]:
for i in np.unique(test_data.first_browser):
    if i not in np.unique(train_data.first_browser):
        print i

IBrowse
Nintendo Browser
UC Browser

In [142]:
#pd.isnull(sessions.groupby('user_id')['secs_elapsed'].sum()) == False
sessions.loc[sessions.user_id == '00allnceb8',:]
#sessions.loc[sessions.user_id == 'd1mm9tcy42',:]

,user_id,action,action_type,action_detail,device_type,secs_elapsed
1150481,00allnceb8,create,submit,signup,-unknown-,NaN

In [8]:
#find most popular actions
sessions.groupby('user_id').count()

NameError: name 'sessions' is not defined

In [5]:
error = pd.read_pickle('scripts/cv_results.p')
params = pd.read_pickle('scripts/cv_params.p')

In [6]:
res = pd.concat([error, params], axis = 1)

In [7]:
res.sort_values(by = 'test-error-mean', axis = 0);

In [3]:
all_df = feakaggle_model(all_df)

#one hot encoding of features
print 'number of columns before one hot encoding', all_df.shape[1]
ohe_feats = ['gender', 'signup_method', 'signup_flow', 'language', 'affiliate_channel', 'affiliate_provider', 'first_affiliate_tracked', 'signup_app', 'first_device_type', 'first_browser']
all_df = pd.get_dummies(all_df, columns = ohe_feats)
print 'number of columns after one hot encoding', all_df.shape[1]

number of columns before one hot encoding 17
number of columns after one hot encoding 161

In [6]:
with open('xgbmodels/sessions_e20_25n.p', 'rb') as f:
    bst = pickle.load(f)
features = sorted(bst.get_fscore().items(), key = lambda x: x[1], reverse = True)
[(feat, all_df.columns[int(feat[1:])], score) for feat, score in features]

NameError: name 'all_df' is not defined

In [ ]:
xgb.to_graphviz(bst, num_trees=11)

In [ ]:
submission = pd.DataFrame(np.column_stack([idx, cntr]), columns = ['id', 'country'])
submission.to_csv('submissions/datebin_model.csv', index=False)